{% extends "karmachart/base.html" %}
{% load static %}


{{% block content %}

        <div class="jumbotron text-center" >
        <h3>
            All submissions included in batch: {{first.batchid}}
        <h3>
        </div>
<html>
    <body>
        <br>
        <br>
        <br>
            <div class="text-center" >
                {{ cht_fruits|safe }}
            </div>
        <br>
            <div class="container">
            <table  class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Submission Title</th>
                <th scope="col">Latest Score</th>
                {% comment %} <th scope="col">Batch ID</th> {% endcomment %}
                </tr>
            </thead>
                {% for submission in submissions %}
                <tr>
                <td><h4>{{ submission.submissionname }}</h4></td>
                <td><h4> {{ submission.score }}</h4></td>
                {% comment %} <td><h4>{{ submission.batchid}}</h4></td> {% endcomment %}
                </tr>
                {% empty %}
                    <p>Nothing to show.</p>
                {% endfor %}
            </table>
            </div>


        </div>       

    </body>
</html>



{% endblock content %}}