{% extends "karmachart/base.html" %}
{% load static %}


{{% block content %}


<html>
    <body>


        <div class="jumbotron text-center" >
            <h1>Welcome to Karmachart!</h1>
        </div>

        <div class="text-center" >
        <h3>
          {% comment %} {{ cht_fruits|safe }} {% endcomment %}
            {% comment %} Current submissions: {% endcomment %}
        </h3>
        
        {% comment %} {% for submission in submissions %}
            <p>
                 {{ submission.submissionname }} {{ submission.score }}
            </p>
        {% empty %}
            <p>Nothing to show.</p>
        {% endfor %} {% endcomment %}
        </div>

        <div class="container text-center">
        <form action="trackdata">
            <input type="submit" class="btn btn-outline-primary" value="Track new data" />
        </form>
        </div>
        

    </body>
</html>



{% endblock content %}}