{% load static %}
<html>
    <head>
        <title>karmachart</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'karmachart/style.css' %}">
    </head>

    <body>


        <div class="jumbotron text-center" >
            <h1>Welcome to Karmachart!</h1>
        </div>

        <div class="text-center">
        {% for batch in batchids %}
            <p>
                {{ batch }}
            </p>
        {% empty %}
            <p>Nothing to show.</p>
        {% endfor %}
        </div>

        <div class="container text-center">
        <form action="trackdata">
            <input type="submit" value="Go to track your own data" />
        </form>
        </div>
        

    </body>
</html>



