{% extends "karmachart/base.html" %}
{% load static %}


{{% block content %}


<html>
    <body>


        <div class="jumbotron text-center" >
            <h1>Welcome to Karmachart!</h1>
        </div>

        <div class="text-center" >
        <h3>
            Current submissions:
        </h3>
        
        {% for submission in submissions %}
            <p>
                {{ submission.submissionid  }} {{ submission.submissionname }}
            </p>
        {% empty %}
            <p>Nothing to show.</p>
        {% endfor %}
        </div>

        <div class="container text-center">
        <form action="trackdata">
            <input type="submit" class="btn btn-outline-primary" value="Go to track your own data" />
        </form>
        </div>
        

    </body>
</html>



{% endblock content %}}