{% extends "karmachart/base.html" %}
{% load static %}
<html>
    {{% block content %}
    

    <body>





        <div class="jumbotron text-center" >
            <h1>Select what to track!</h1>
        </div>

        <div class="container text-center">
            <form method = "post">
                {% csrf_token %} 
                {{ form.as_p }}
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </form>
        </div>

    {% endblock content %}}


    </body>
</html>



